.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 76px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-bg);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border);
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: var(--nav-shadow);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--text);
}

.logo span {
  color: var(--primary);
}

.logo-icon {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links a {
  color: var(--muted);
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--primary);
}

.nav-cta {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  /* border: 1px solid var(--border); */
  border-radius: 10px;

  color: var(--text);
  font-size: 15px;
  padding: 8px 12px;
  cursor: pointer;
  transition:
    border-color 0.2s,
    color 0.2s;
}

.theme-btn:hover {
  background: var(--bg-alt);
}

.navbar .btn-primary {
  background: var(--primary);
  color: white;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 600;
  transition:
    background 0.2s,
    transform 0.2s;
}

.navbar .btn-primary:hover {
  background: var(--primary-dark);
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  border: none;
  background: none;
  color: var(--text);
  font-size: 28px;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  background: var(--nav-bg);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border);
  z-index: 99;
}

.mobile-nav.open {
  display: flex;
}

.mobile-nav a {
  color: var(--text);
  font-weight: 500;
}

.mobile-theme-btn {
  width: fit-content;
}

@media (max-width: 1000px) {
  .nav-links {
    display: none;
  }

  .nav-cta {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 12px;
  }

  .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
  }

  .hamburger {
    display: block;
    margin-left: 10px;
  }

  .navbar {
    padding: 0 40px;
  }
}

@media (max-width: 576px) {
  /* Show theme icon again */
  .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hide primary button */
  .navbar .btn-primary {
    display: none;
  }

  .nav-cta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
  }

  .hamburger {
    display: block;
    margin-left: 10px;
  }

  .navbar {
    padding: 0 40px;
  }
}
