.article-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #020817;
  color: white;
  min-height: 100vh;
  padding: 80px 20px 120px;
}

.article-container {
  max-width: 950px;
  padding-top: 50px;

  margin: auto;
}

.back-btn {
  display: inline-block;
  color: #3b82f6;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 30px;
}

.breadcrumb {
  color: #94a3b8;
  margin-bottom: 30px;
}
#breadcrumb {
  justify-content: flex-start;
  align-items: flex-start;
}
.breadcrumb .blog {
  color: var(--muted);
}
.breadcrumb .blog:hover {
  color: white;
}
.breadcrumb span {
  color: white;
}

.article-category {
  display: inline-block;
  padding: 3px 25px;
  background: rgba(37, 99, 235, 0.15);
  color: #3b82f6;
  font-size: 14px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.article-title {
  max-width: 80%;
  font-size: 35px;
  line-height: 1.05;
  margin-bottom: 30px;
}

.article-description {
  font-size: 18px;
  color: #94a3b8;
  line-height: 1.8;
  margin-bottom: 40px;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}

.article-author img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  color: white;
  font-weight: 600;
}

.author-meta {
  color: #94a3b8;
}

.article-divider {
  height: 1px;
  background: #1e293b;
  margin-bottom: 50px;
}

.article-image {
  width: 100%;
  height: 500px;
  border-radius: 24px;
  margin-bottom: 60px;
}

.article-content {
  max-width: 760px;
  margin: auto;
}

.article-content p {
  color: var(--muted);
  line-height: 2;
  font-size: 17px;
  margin-bottom: 35px;
}

/* =====================
   RELATED ARTICLES
===================== */

.related-section {
  border-top: 1px solid #1e293b;
  padding-top: 60px;
}

.related-section h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.related-card {
  background: #111827;
  border: 1px solid #1e293b;
  border-radius: 24px;
  overflow: hidden;
  text-decoration: none;
  transition: 0.3s;
}

.related-card:hover {
  transform: translateY(-8px);
  border-color: #2563eb;
}

.related-image {
  height: 220px;
  overflow: hidden;
}

.related-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.related-card:hover img {
  transform: scale(1.1);
}

.related-content {
  padding: 25px;
}

.related-content span {
  display: inline-block;
  padding: 7px 14px;
  border-radius: 20px;
  background: rgba(37, 99, 235, 0.15);
  color: #3b82f6;
  font-size: 13px;
}

.related-content h3 {
  margin-top: 20px;
  color: white;
  font-size: 24px;
  line-height: 1.4;
}

.related-content p {
  margin-top: 15px;
  color: #94a3b8;
  line-height: 1.7;
}

/* Responsive */

@media (max-width: 992px) {
  .article-title {
    font-size: 50px;
  }

  .related-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .article-title {
    font-size: 38px;
  }

  .article-description {
    font-size: 18px;
  }

  .article-content p {
    font-size: 17px;
  }

  .article-author {
    align-items: flex-start;
  }
}
